__pycache__ 
.idea
*.log
lightning_logs
/data/cmu_labels/1.txt
/data/cmu_labels/2.txt
/data/cmu_labels/3.txt
/data/cmu_labels/4.txt
/data/cmu_labels/5.txt
/data/cmu_labels/6.txt
/data/cmu_labels/7.txt
/data/cmu_labels/8.txt
/data/cmu_labels/9.txt
/data/cmu_labels/10.txt
/data/cmu_labels/11.txt
/data/cmu_labels/12.txt
/data/cmu_labels/13.txt
/data/cmu_labels/14.txt
/data/cmu_labels/15.txt
/data/cmu_labels/16.txt
/data/cmu_labels/17.txt
/data/cmu_labels/18.txt
/data/cmu_labels/19.txt
/data/cmu_labels/20.txt
/data/cmu_labels/21.txt
/data/cmu_labels/22.txt
/data/cmu_labels/23.txt
/data/cmu_labels/24.txt
/data/cmu_labels/25.txt
/data/cmu_labels/26.txt
/data/cmu_labels/27.txt
/data/cmu_labels/28.txt
/data/cmu_labels/29.txt
/data/cmu_labels/30.txt
/data/cmu_labels/31.txt
/data/cmu_labels/32.txt
/data/cmu_labels/33.txt
/data/cmu_labels/34.txt
/data/cmu_labels/35.txt
/data/cmu_labels/36.txt
/data/cmu_labels/37.txt
/data/cmu_labels/38.txt
/data/cmu_labels/39.txt
/data/cmu_labels/40.txt
/data/cmu_labels/41.txt
/data/cmu_labels/42.txt
/data/cmu_labels/43.txt
/data/cmu_labels/44.txt
/data/cmu_labels/45.txt
/data/cmu_labels/46.txt
/data/cmu_labels/47.txt
/data/cmu_labels/48.txt
/data/cmu_labels/49.txt
/data/cmu_labels/50.txt
/data/cmu_labels/51.txt
/data/cmu_labels/52.txt
/data/cmu_labels/53.txt
/data/cmu_labels/54.txt
/data/cmu_labels/55.txt
/data/cmu_labels/56.txt
/data/cmu_labels/57.txt
/data/cmu_labels/58.txt
/data/cmu_labels/59.txt
/data/cmu_labels/60.txt
/data/cmu_labels/61.txt
/data/cmu_labels/62.txt
/data/cmu_labels/63.txt
/data/cmu_labels/64.txt
/data/cmu_labels/65.txt
/data/cmu_labels/66.txt
/data/cmu_labels/67.txt
/data/cmu_labels/68.txt
/data/cmu_labels/69.txt
/data/cmu_labels/70.txt
/data/cmu_labels/71.txt
/data/cmu_labels/72.txt
/data/cmu_labels/73.txt
/data/cmu_labels/74.txt
/data/cmu_labels/75.txt
/data/cmu_labels/76.txt
/data/cmu_labels/77.txt
/data/cmu_labels/78.txt
/data/cmu_labels/79.txt
/data/cmu_labels/80.txt
/data/cmu_labels/81.txt
/data/cmu_labels/82.txt
/data/cmu_labels/83.txt
/data/cmu_labels/84.txt
/data/cmu_labels/85.txt
/data/cmu_labels/86.txt
/data/cmu_labels/87.txt
/data/cmu_labels/88.txt
/data/cmu_labels/89.txt
/data/cmu_labels/90.txt
/data/cmu_labels/91.txt
/data/cmu_labels/92.txt
/data/cmu_labels/93.txt
/data/cmu_labels/94.txt
/data/cmu_labels/95.txt
/data/cmu_labels/96.txt
/data/cmu_labels/97.txt
/data/cmu_labels/98.txt
/data/cmu_labels/99.txt
/data/cmu_labels/100.txt
/data/cmu_labels/101.txt
/data/cmu_labels/102.txt
/data/cmu_labels/103.txt
/data/cmu_labels/104.txt
/data/cmu_labels/105.txt
/data/cmu_labels/106.txt
/data/cmu_labels/107.txt
/data/cmu_labels/108.txt
/data/cmu_labels/109.txt
/data/cmu_labels/110.txt
/data/cmu_labels/111.txt
/data/cmu_labels/112.txt
/data/cmu_labels/113.txt
/data/cmu_labels/114.txt
/data/cmu_labels/115.txt
/data/cmu_labels/116.txt
/data/cmu_labels/117.txt
/data/cmu_labels/118.txt
/data/cmu_labels/119.txt
/data/cmu_labels/120.txt
/data/cmu_labels/121.txt
/data/cmu_labels/122.txt
/data/cmu_labels/123.txt
/data/cmu_labels/124.txt
/data/cmu_labels/125.txt
/data/cmu_labels/126.txt
/data/cmu_labels/127.txt
/data/cmu_labels/128.txt
/data/cmu_labels/129.txt
/data/cmu_labels/130.txt
/data/cmu_labels/131.txt
/data/cmu_labels/132.txt
/data/cmu_labels/133.txt
/data/cmu_labels/134.txt
/data/cmu_labels/135.txt
/data/cmu_labels/136.txt
/data/cmu_labels/137.txt
/data/cmu_labels/138.txt
/data/cmu_labels/139.txt
/data/cmu_labels/140.txt
/data/cmu_labels/141.txt
/data/cmu_labels/142.txt
/data/cmu_labels/143.txt
/data/cmu_labels/144.txt
/bld/my_log.txt
